*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  background: #FFF;
  text-align: center;
  font: 1.15em/1 'Open Sans', sans-serif;
  color: #FFF;
}

.wrapper{
  background-color: #F5F5F5;
  height: 100%;
}

.imgcen{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

h2{
  align: center;
  padding: 2%;
}

/**** flex-grow ****/
.item {
  height: 15rem;
  color: white;
  align-items: center;
  line-height: 50px;
}

.example-grow .parent {
  display: flex;
  width: 100%;
  align-items: center;
  margin: auto;
}
.example-grow .item {
  width: 35%;
  align-content: center;
}
.example-grow .item:nth-child(1) {
  flex-grow: 2;
  background: lightgreen;
}
